.wrapper {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  font-size: 13pt;
}

.wrapper p {
  margin: 35px 0px;
  color: #dee0e0;
  line-height: 20pt;
}

.wrapper h1 {
  font-family: freight-text-pro, serif;
  color: #dee0e0;
  font-size: 30pt;
}

.about_us {
  opacity: 1 !important;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 0.8fr auto;
      grid-template-rows: auto 0.8fr auto;
}

.content {
  max-width: 100%;
  margin: 0px 140px;
}

h1 {
  text-align: center;
}

@media (max-width: 600px) {
  .wrapper {
    font-size: 11pt;
  }
  .wrapper h1 {
    font-size: 23pt;
  }
  .content {
    margin: 0px 70px;
  }
}

@media (max-width: 380px) {
  .wrapper {
    font-size: 10pt;
  }
  .wrapper h1 {
    font-size: 19pt;
  }
  .content {
    margin: 0px 30px;
  }
}
